<accounts style="padding: 10px;">
  <div class="container">
    <form>
      <div class="row">
        <div class="col-sm-4">
          <div class="checkbox checkbox-danger">
            <input type="checkbox" id="checkbox1">
            <label for="checkbox1">
              Check me out
            </label>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="checkbox checkbox-danger checkbox-single">
            <input type="checkbox" id="checkbox2">
            <label for="checkbox2"></label>
          </div>
        </div>
      </div>
      <div class="row">
        <!--
        <select ng-options="option.name for option in accountsCtrl.options track by option.id" ng-model="accountsCtrl.selectedOptionsX" multiple></select>
        <br/><br/>
        -->
        <div class="col-sm-4">
          <label for="singleSelect">Single Select</label>
          <select-input id="singleSelect" class="form-control input-sm"
                        ng-model="accountsCtrl.selectedOption"
                        options="option.name for option in accountsCtrl.options track by option.id"
                        filter="accountsCtrl.filterA"
                        placeholder="{{accountsCtrl.placeholder}}"
                        always-allow-placeholder="true">
          </select-input>
        </div>
        <div class="col-sm-4">
          <label for="multiSelect1">Multi Select</label>
          <select-input id="multiSelect1" class="form-control input-sm"
                        ng-model="accountsCtrl.selectedOptions"
                        options="option.name for option in accountsCtrl.options track by option.id"
                        filter="accountsCtrl.filterB"
                        multiple="true"
                        placeholder="{{accountsCtrl.placeholder}}"
                        always-allow-placeholder="true"
                        add-new-option="accountsCtrl.addNewOption">
          </select-input>
        </div>
        <div class="col-sm-4">
          <label for="multiSelect2">Multi Select (list selected options too)</label>
          <select-input id="multiSelect2" class="form-control input-sm"
                        ng-model="accountsCtrl.selectedOptions"
                        options="option.name for option in accountsCtrl.options track by option.id"
                        filter="accountsCtrl.filterC"
                        multiple="true"
                        list-selected="true"
                        placeholder="{{accountsCtrl.placeholder}}">
          </select-input>
        </div>
        <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
        <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
        <ul>
          <li ng-repeat="option in accountsCtrl.selectedOptions">{{option}}</li>
        </ul>
        <!--
        <div>O: {{accountsCtrl.options}}</div>
        <div>S: {{accountsCtrl.selectedOptions}}</div>
        <div>F: {{accountsCtrl.filter}}</div>
        -->
      </div>
      <!--
      <div class="row">
        <div
          ng-class="{'col-xs-8': accountsCtrl.accountSearchFormLayout.editMode, 'col-xs-12': !accountsCtrl.accountSearchFormLayout.editMode}">
          <legend>
            <span>Account Search</span>
            <span class="icon-settings pull-right"
                  style="font-size: 14px;"
                  ng-style="{color: accountsCtrl.accountSearchFormLayout.editMode ? '' : '#aaa'}"
                  ng-model="accountsCtrl.accountSearchFormLayout.editMode"
                  btn-checkbox></span>
          </legend>
          <form-layout
            edit-mode="accountsCtrl.accountSearchFormLayout.editMode"
            layout="accountsCtrl.accountSearchFormLayout.layout"
            field-sets="accountsCtrl.accountSearchFormLayout.fieldSets"
            fields="accountsCtrl.accountSearchFormLayout.fields"
            selected="accountsCtrl.accountSearchFormLayout.selected">
          </form-layout>
        </div>
        <div ng-class="{'col-xs-4': accountsCtrl.accountSearchFormLayout.editMode}"
             ng-if="accountsCtrl.accountSearchFormLayout.editMode">
          <form-properties
            edit-mode="accountsCtrl.accountSearchFormLayout.editMode"
            layout="accountsCtrl.accountSearchFormLayout.layout"
            field-sets="accountsCtrl.accountSearchFormLayout.fieldSets"
            fields="accountsCtrl.accountSearchFormLayout.fields"
            selected="accountsCtrl.accountSearchFormLayout.selected">
          </form-properties>
        </div>
      </div>
      -->
    </form>
  </div>
</accounts>
