<filtered-option ng-if="filter.length > 0"
                 ng-class="{'focused': focusedIndex === 0, 'selected': filteredOption.selected}"
                 ng-click="addNewOption()"
                 tabindex="-1">{{filter}}</filtered-option>
<filtered-option ng-repeat="filteredOption in filteredOptions"
                 ng-class="{'focused': $index + 1 === focusedIndex, 'selected': filteredOption.selected}"
                 ng-click="toggleOption($index)"
                 tabindex="-1">{{filteredOption.label}}</filtered-option>
